#root {
  width: 100vw;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Audiowide', cursive;
}



.card {
  padding: 1.5em;
  background-color: #222;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 640px;
  border-radius: 10px;
}
input{
  padding: 5px;
  background-color: rgb(61, 59, 59);
  color: white;
  border: 0.5px solid transparent;
  border-radius: 10px;
  font-family: 'Audiowide', cursive;
  width: 100%;
}
input:hover{
  border-color: #747bff;;
}
.violence-seek-container{
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 5px;
  width: 100%;
}
.violence-seek{
  cursor: pointer;
  position: relative;
  width:auto;
  height: 5px;
  background: #d90912;
  border-radius: 5px ;
}

.tooltip {
  text-align: center;
  width: auto;
  position: absolute;
  bottom: 100%;
  transform: translateY(-50%);
  display: none;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: small;
}

.violence-seek:hover .tooltip {
  display: block;
}

.video-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: black;
  border-radius:10px ;
  height: 320px;
  border: 2px black solid;
}
.control-suite{
  width: 100%;
  display: flex;
  gap:10px;
}
button{
  width: auto;
}


video{
  width: auto;
  object-fit: contain;
  height: 100%;
}

.controls {
  visibility: hidden;
  opacity: 0.5;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -200px;
  background-color: #111;
  gap:3px;
  transition: 1s all;
  display: flex;
}

.player:hover .controls,
.player:focus-within .controls {
  opacity: 1;
}

@font-face {
  font-family: "HeydingsControlsRegular";
  src: url("fonts/heydings_controls-webfont.eot");
  src: url("fonts/heydings_controls-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/heydings_controls-webfont.woff") format("woff"),
    url("fonts/heydings_controls-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

button:before {
  font-size: 20px;
  position: relative;
  content: attr(data-icon);
  color: #aaa;
  text-shadow: 1px 1px 0px black;
  
}

.timer {
  line-height: 38px;
  font-size: 10px;
  font-family: monospace;
  text-shadow: 1px 1px 0px black;
  color: white;
  flex: 5;
  position: relative;
}

.timer div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  top: 0;
  width: 0;
  height: 38px;
  z-index: 2;
}

.timer span {
  position: absolute;
  z-index: 3;
  left: 19px;
}
.play{
  display: flex;
  align-items: center;
  justify-content: center;
  width:45px;
  height: 45px;
  border-radius: 50%;
}
.stop{
  display: flex;
  align-items: center;
  justify-content: center;
  width:45px;
  height: 45px;
  border-radius: 50%;
}
.rwd{
  display: flex;
  align-items: center;
  justify-content: center;
  width:45px;
  height: 45px;
  border-radius: 50%;
}
.fwd{
  display: flex;
  align-items: center;
  justify-content: center;
  width:45px;
  height: 45px;
  border-radius: 50%;
}